body{
    background-image: linear-gradient(to top, white, aqua);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

button{
    width: 100px;
    height: 35px;
    margin-top: 10px;
    transition: all 0.2s linear;
}
button:hover{
    background-color: gray;
    color: white;
}

img{
    height: 200px;
    width: 200px;
}
#manipulação{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

height: 500px;
}
h1{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    animation: foi 4s linear;
    animation-delay: 2s;
}
@keyframes foi{
    0%{
        transform: scale(1.0);
    }
    15%{
        transform: scale(1.1);
    }
    25%{
        transform: scale(1.0);
    }
    50%{
        transform: rotate(360deg);
    }
    75%{
        transform: rotate(-360deg);
    }

}

